# Build
*.class
*.log
classes
target
build
target-eclipse

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies


# IDEA
*.iml
*.ipr
*.iws
.idea
.idea_modules
atlassian-ide-plugin.xml

# Eclipse
.classpath
.project
.settings
.checkstyle
.fbprefs


# NetBeans
nbproject

# Other
.sonar-ide.properties
.clover
proguard_logs

#Android
gen